{% extends 'base.html.twig' %}

{% block body %}
	<div class="container col-md-6 mt-3">
	
		<h1 class="text-success text-center text-capitalize" style="font-size: 35px;"><b>CATEGORY LIST</b></h1>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-info mt-2" href="{{ path('category_add') }}" style="font-size: 25px;">Add Category</a>
		{% endif %}
		<table class="table table-striped text-center mt-2" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Cover</th>
                    <th>Description</th>
					{% if is_granted('ROLE_ADMIN') %}
					<th width="40%">Menu</th>
					{% endif %}
				</tr>
			</thead>
			<tbody >
				{% for c in category %}
					<tr style="font-family: Segoe UI; font-size: 18px;">
						<td>{{ c.id }}</td>
						<td>{{ c.name }}</td>
						<td>
							<a href="{{ path('category_detail', {'id': c.id}) }}">
								<img src="{{ asset('img/category/'~c.image)}}" alt="" width="120" height="100">
							</a>
						</td>
                        <td>{{ c.description }}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<a class="btn btn-warning" href="{{ path('category_edit', {'id': c.id}) }}">Edit</a>
								<a class="btn btn-danger" href="{{ path('category_delete', {'id': c.id}) }}" onclick="return confirm('Are you sure to delete this category ?')">Delete</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
