{% extends 'base.html.twig' %}
{% block title %}
	View Class
{% endblock %}
{% block body %}
	<div class="container col-md-6 mt-3">
	
		<h1 class="text-success text-center text-capitalize" style="font-size: 35px;"><b>CLASS LIST</b></h1>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-info mt-2" href="{{ path('course_class_add') }}" style="font-size: 25px;">Add Class</a>
		{% endif %}
		{# <a class="btn btn-outline-success mt-2" href="{{ path('book_asc') }}">Tang</a>
		<a class="btn btn-outline-success mt-2" href="{{ path('book_desc') }}">Giam</a> #}
		<table class="table table-striped text-center mt-2" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
                    <th>Date Start</th>
                    <th>Date End</th>
					<th>Menu</th>
				</tr>
			</thead>
			<tbody >
				{% for c in courseClass %}
					<tr style="font-family: Segoe UI; font-size: 18px;">
						<td>{{ c.id }}</td>
						<td>{{ c.name }}</td>
                        <td>{{ c.dateStart|date('d/m/Y') }}</td>
                        <td>{{ c.dateEnd|date('d/m/Y') }}</td>
							<td>
                                <a class="btn btn-success" href="{{ path('course_class_detail', {'id': c.id}) }}">View</a>
								{% if is_granted('ROLE_ADMIN') %}	
								<a class="btn btn-warning" href="{{ path('course_class_edit', {'id': c.id}) }}">Edit</a>
								<a class="btn btn-danger" href="{{ path('course_class_delete', {'id': c.id}) }}" onclick="return confirm('Are you sure to delete this book ?')">Delete</a>
								{% endif %}
							</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
