<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Student Management System
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
								           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<!-- CSS only -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="stylesheet" media="screen" href="{{ asset("css/style.css")}}"/>
		{% endblock %}

		{% block javascripts %}
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block header %}
		{# navigation bar #}
		<nav class="navbar navbar-light" style="background-color: #6aa4ba;">
		<div class="container mt-4">
			<ul id="nav">
				<li class="right">
					<h2>
						<a href="{{ path('home') }}">Home</a>
					</h2>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
				<li class="left">
					<h2>
						<a href="{{ path('admin_index') }}">Admin</a>
					</h2>
				</li>
				{% endif %}
				<li class="right">
					<h2>
						<a href="#">Teacher</a>
					</h2>
				</li>
				<li class="left">
					<h2>
						<a href="#">Student</a>
					</h2>
				</li>
				<li class="right">
					<h2>
						<a href="{{ path('course_class_index') }}">Class</a>
					</h2>
				</li>
                <li class="left">
					<h2>
						<a href="{{ path('course_index') }}">Course</a>
					</h2>
				</li>
                <li class="right">
					<h2>
						<a href="{{ path('category_index') }}">Category</a>
					</h2>
				</li>
				<li class="left">
					<h2>
						<a href="{{ path('app_logout') }}">Logout</a>
					</h2>
				</li>
			</ul>
		</div>
		</nav>

		
		{% endblock %}
		{# tạo 1 section để hiển thị thông báo Flash được gửi từ Controller (back-end) #}
		<div class="container mt-3 text-center col-md-5">
			{% for message in app.flashes('Success') %}
				<p class="alert alert-success">{{ message }}</p>
			{% endfor %}
			{% for message in app.flashes('Error') %}
				<p class="alert alert-danger">{{ message }}</p>
			{% endfor %}
		</div>
		{% block body %}{% endblock %}
		{% block footer %}
			<div class="container mt-3 text-center">
				<h5 class="text-success">Copyright by Greenwich University - 2021</h5>
			</div>
		{% endblock %}
	</body>
</html>
